<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WeatherCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <WeatherCollector.Properties.Settings>
      <setting name="Cities" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <!--Aby si nasiel cislo mesta, chod na https://www.yahoo.com/news/weather/ , najdi si mesto pomocou Change Location a cislo mesta vycitas z adresneho riadka-->
            <string>Kosice,820323</string>
            <string>Poprad,821722</string>
            <string>Presov,821782</string>
            <string>Humenne,819877</string>
            <string>Banska Bystrica,818511</string>
            <string>Bratislava,818717</string>
            <string>Zilina,823382</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MaxLoadAttempts" serializeAs="String">
        <value>200</value>
      </setting>
    </WeatherCollector.Properties.Settings>
  </applicationSettings>
</configuration>